// css module을 쓰는 이유 : css class가 중첩되는 것을 완벽하게 방지 css-in-css

.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  &.inverted {
    color: black;
    background: white;
    border: 5px solid red;
  }
}

.inverted {
  color: black;
  background: white;
  border: 5px solid black;
}

:global .something {
  font-weight: 700;
  color: rgb(62, 155, 241);
}
