.TodoTemplate {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
  font-family: '나눔손글씨 장미체';
  .app-title {
    background: #22b8cf;
    color: white;
    height: 4rem;
    font-size: 4rem;
    font-family: '나눔손글씨 장미체';
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
