.CommentInfo {
  input {
    height: 20px;
    background: white;
    outline: none;
    border-radius: 0.3rem;
    border-style: solid;
    border-color: rgb(218, 217, 217);
    border-width: 2px;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem;
    font-family: 'Consolas';
    color: rgb(110, 110, 110);
    &::placeholder {
      color: #cccdcf;
    }
  }
  flex: 1;
  button {
    background: white;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: outset;
    border-width: 3px;
    border-color: rgb(224, 224, 224);

    padding-top: 6px;
    margin: 0.2rem;
    font-size: 2rem;
    color: rgb(89, 123, 179);
    // display: flex;
    // align-items: center;
    cursor: pointer;
    &:hover {
      background: #e0e0e0;
      border-style: inset;
    }
  }

  .CommentInsert {
    display: flex;
    align-items: center;
    input {
      background: white;
      outline: none;
      height: 25px;
      border-radius: 0.5rem;
      border-style: solid;
      border-color: rgb(218, 217, 217);
      border-width: 2px;

      padding: 0.5rem;
      font-family: 'Consolas';
      font-size: 1rem;
      color: rgb(112, 111, 111);
      &::placeholder {
        color: #cccdcf;
      }
      // 버튼을 제외한 영역을 모두 차지하기
      flex: 1;
    }
    button {
      background: none;
      outline: none;
      width: 4rem;
      height: 3rem;
      border-radius: 0.5rem;
      border-style: outset;
      border-color: rgb(184, 204, 231);
      border-width: 4px;
      background: #94b9db;
      color: white;

      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.1s background ease-in;
      &:hover {
        background: #739ec9;
        border-style: inset;
      }
    }
  }
}
